@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rock+Salt&display=swap');

body {
  align-items: center;
  justify-content: center;
  background-color: #212f3d79;
  font-family: 'Signika', verdana, sans-serif;
}
.contenedor_empresa {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 30px;
}

img {
  width: 30%;
  height: 30%;
  margin-bottom: 30px;
}

.lista_empresa {
    list-style: none;
  }

.lista_empresa li {
    width: 80%;
    transform: translateX(10%);
    margin-bottom: 80px;
    
}

.border {
  border-top: solid 1px #212f3d8c;
}

.secciones_empresa {
    color: #212F3D;
    margin-top: 40px;
    margin-bottom: 30px;
  }

.texto_empresa {
      color: #212F3D;
      justify-content: center;
      margin-left: 10%;
      margin-right: 10%;
  }
