@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rock+Salt&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
    background-color: #212F3D;
    font-family: 'Signika', verdana, sans-serif;
}


.menu {
    background-color: #212F3D;
    height: 75px;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 30px;
    padding: 0 40px;
    font-weight: bold;
    flex: none;
}

.logo_name {
    font-size: 30px;
    font:bold 'Signika', sans-serif;
    
    user-select:none;
}
   
.logo_name span { display:inline-block; animation:float .2s ease-in-out infinite; }
    
a:hover span { animation:bounce .8s; }
   
@keyframes bounce {
     0%,100%{ transform:translate(0); }
     25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
     50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
   }

.logo:hover {
     cursor: pointer;
}

span {
     color: whitesmoke;
}
   
   span:nth-child(11){ color: #F1C40F;}
   span:nth-child(12){ color: #F1C40F;}
   
   a span:nth-child(2){ animation-delay:.05s; }
   a span:nth-child(3){ animation-delay:.1s; }
   a span:nth-child(4){ animation-delay:.15s; }
   a span:nth-child(5){ animation-delay:.2s; }
   a span:nth-child(6){ animation-delay:.25s; }
   a span:nth-child(7){ animation-delay:.3s; }
   a span:nth-child(8){ animation-delay:.35s; }
   a span:nth-child(9){ animation-delay:.4s; }
   a span:nth-child(10){ animation-delay:.45s; }
   a span:nth-child(11){ animation-delay:.5s; }
   a span:nth-child(12){ animation-delay:.55s; }
   a span:nth-child(13){ animation-delay:.6s; }
   a span:nth-child(14){ animation-delay:.65s; }

.menu_items {
    display: flex;
    list-style: none;
    z-index: 1;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li:hover {
    opacity: 30%;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    color: whitesmoke;
}
.btn_menu {
    margin-right: 20px;
    font-size: 25px;
    color: whitesmoke;
    display: none;
    cursor: pointer;
}

ul.show {
    top: 65px;
    z-index: 8;
}

@media screen and (max-width: 952px) {
    .logo {
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 14px;
    }

    .logo_name span {
        font-size: 25px;
    }

    .btn_menu {
        display: inline-flex;
        padding-right: 50px;
    }
    .menu_items {
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        background-color: #212F3D;
        top: -200vh;
        text-align: center;
        transition: all 0.4s;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
        padding-right: 50px;
    }
    .menu_items {
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        background-color: #212F3D;
        top: -200vh;
        text-align: center;
        transition: all 0.4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a {
        font-size: 14px;
        color: whitesmoke;
        font-weight: bold;
    }
    .logo {
        padding-left: 35px;
        
    }

    .logo_name span {
        font-size: 25px;
    }
}

@media screen and (max-width: 300px) {
    .logo_name span {
        font-size: 15px;
    }
    .btn_menu {
        font-size: 20px;
    }
    .titulo_general {
        font-size: 20px;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0;
    }
    .menu_items {
        height: calc(100% - 65px);
        overflow: hidden;
    }
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.contenedor_general {
    background-image: url(https://image.winudf.com/v2/image1/Y29tLmFobWFkemFraWFsZHk4MC53aGl0ZXdhbGxwYXBlcmhkX3NjcmVlbl8zXzE2MTc3ODg3NjJfMDA3/screen-3.jpg?fakeurl=1&type=.jpg);
    margin: 0 auto;
    padding: 0 2rem 2rem;
    display: grid;
    text-align: center;
    justify-items: center;
	
}
.titulo_general {
    margin-top: 70px;
    margin-bottom: 40px;
    color: #212F3D;
    font-size: ;
}

.general {
    display: flex;
    flex-wrap: wrap;
}

.categoria {
    flex: flex;
    margin-top: 30px;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}


.categoria img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.categoria img:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

@supports (display: grid) {
	.general {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	.general,
	.categoria {
		margin: 0;

        align-items: center;
	}
}

.button-Whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: green;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    z-index: 9;
    }

/* footer */
footer {
    width: 100%;
    background-color: rgb(10, 11, 24);
    background-image: url(https://image.winudf.com/v2/image1/Y29tLmFobWFkemFraWFsZHk4MC53aGl0ZXdhbGxwYXBlcmhkX3NjcmVlbl8zXzE2MTc3ODg3NjJfMDA3/screen-3.jpg?fakeurl=1&type=.jpg);
    background-size: cover;
    background-blend-mode:soft-light;
}

.contenedor_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
}

.caja_footer{
    display: flex;  
    flex-direction: column;
    padding: 20px;
}
.caja_footer .logo_name {
    width: 100px;
    font-size: 22px;
    font-weight: bold;
}

.caja_footer .logo_terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: grey;
    font-size: 18px;
}

.caja_footer h2 { 
    margin-bottom: 30px;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Signika', verdana, sans-serif;
    font-size: 14px;
}

.caja_footer a {
    text-decoration: none;
    color: grey;
}

.caja_footer a:hover{
    color: whitesmoke;
}

.pie {
    background-color: rgb(22, 22, 22);
    color: grey;
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
}