@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rock+Salt&display=swap');

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: rgba(245, 245, 245, 0.568);
    margin: 30px 0 30px 0;
    transform: translateX(25%);
  }
.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: 1.2s ;
    transform: ease-in-out;
    padding: 50px 30px 0;
  }

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: rgba(255, 255, 255, 0.301);
    transition: transform 1.2s ease-in-out;
    transform: translate3d(640px* -1,0,0);
  }

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: black;
    font-size: 15px;
    cursor: pointer;
  }

button .fb-btn {
    color: black;
}

.fb-btn span {
    color: blue;
    font-weight: bold;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("https://www.eluniversal.com.mx/sites/default/files/2021/05/08/como-pintar-las-paredes.jpg");
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}

.img::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.336);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: 1.2s ;
    transform: ease-in-out;
}

h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: rgba(255, 255, 255, 0.226);
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn::after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid whitesmoke;
    border-radius: 30px;
  }

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
}

span .m--in {
    transform: translateY(36px*-2)
}

.form h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  
.form label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
  
.form span {
      font-size: 12px;
      color: #cfcfcf;
      text-transform: uppercase;
    }

.form input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 30px;
}

.form .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid yellow;
    color: darken(yellow, 20%);
    text-transform: uppercase;
  }
  
.form .fb-btn {
    border: 2px solid #284e94;
    color: darken(#284e94, 20%);
}

.form span {
      font-weight: bold;
      color: darken(#284e94, 20%);
}

.sign-in {
    transition-timing-function: ease-out;
}
.sign-up {
    transform: translate3d(900px* -1,0,0);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}
img {
      width: 100%;
      vertical-align: top;
    }